@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}


<div>
    <h2> Public Timeline </h2>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <div class="cheepbox">
            <h3>What's on your mind @routeName</h3>
            <form method="post">
                <input style="float: left" type="text" asp-for="Text">
                <input type="submit" value="Share">
            </form>
        </div>
    }
    
    @if (Model.Cheeps.Any())
    {
        <ul id="Cheeplist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Cheep
                        <small>&mdash; @cheep.Timestamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>

<div class="pagination">
    @if (Model.HasPreviousPage)
    {
        <a href="?pageIndex=@(Model.PageIndex - 1)">Previous</a>
    }

    <span>Page @Model.PageIndex</span>

    @if (Model.HasNextPage)
    {
        <a href="?pageIndex=@(Model.PageIndex + 1)">Next</a>
    }
</div>